<%- include("header") -%>

<h1>This is some of my projects that i am making.</h1>
<p>I am a fresher making all of these for my interest purposes please appriciate if you like it. Thank you.</p>

<%- include("footer") -%>
